* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 300 16px/1.5 "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
    background-color: #fdfdfd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
}

.container {
    max-width: 700px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: auto;
    row-gap: 20px;
}

nav .container {
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links>li {
    margin: 0 10px;
}



section {
    margin: 90px 0;
}

.home-section {
    margin: 150px 0;
}

.home-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 300px;
}


.portfolios-section .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
}

.portfolios-wrapper {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: min(2vw, 16px);
    grid-auto-flow: row;
    grid-template-areas: "portfolio-1 portfolio-2 portfolio-3";
}

.portfolio {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    padding: 0 8px;
}

.portfolios-wrapper .portfolio-1 {
    grid-area: portfolio-1;
    height: 250px;
}

.portfolios-wrapper .portfolio-2 {
    grid-area: portfolio-2;
}

.portfolios-wrapper .portfolio-3 {
    grid-area: portfolio-3;
}

.timeline-section .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
}

.timelines-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
    background: linear-gradient(to right, transparent 0%, transparent calc(50% - 0.5px), #e8e8e8 calc(50% - 0.5px), #e8e8e8 calc(50% + 0.5px), transparent calc(50% + 0.5px), transparent 100%);
}


.timeline-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 24px;
    min-height: 200px;
}

.timeline-container:nth-of-type(2),
.timeline-container:nth-of-type(4),
.timeline-container:nth-of-type(6) {
    align-self: flex-end;
}

.timeline-logo {
    min-width: 30%;
}

.testimonial-section .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
}

.testimonials-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 20px;
    column-gap: 50px;
}

.testimonial-quote {
    width: 32px;
    height: 32px;
    margin: 0 auto 16px;
    background: url("https://ndrewtl.github.io/airspace-jekyll/img/cotation.png") no-repeat center;
}

.testimonials-box-wrapper {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#testimonials-box {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.4s ease-in-out;
    padding: 10px;
}

#testimonial-message {
    margin-top: 20px;
}

#testimonial-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 40px;
}

#testimonial-name {
    margin-top: 10px;
}

#testimonial-role {
    font-size: 14px;
}



#testimonials-dots {
    margin-top: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.dot {
    cursor: pointer;
    display: inline-block;
    row-gap: 5px;
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

#arrow-before,
#arrow-next {
    height: 30px;
    border: none;
    background-color: #fdfdfd;
    cursor: pointer;
}

#arrow-before:disabled,
#arrow-next:disabled {
    cursor: unset;
}